---
import { Code, Tabs, TabItem, Aside, Card, Icon, LinkCard } from '@astrojs/starlight/components';
import "../styles/drawflow.min.css";
import { glossary } from "../data/glossary.ts";
const glossaryJson = JSON.stringify(glossary);
---
<script type="application/json" id="glossary-data" set:html={glossaryJson}></script>

<div class="visual-scripting-container">
    <div class="vs-mobile-overlay">
        Please visit the desktop site to try the visual editor
    </div>
    <div class="vs-menu-bar">
         <div class="vs-menu-dropdown">
            <div
                class="vs-menu-btn vs-menu-item species-node draggable"
                draggable="true"
                title="Add species node"
                data-node-type="species"
            >
                Species
            </div>
        </div>
        <div class="vs-menu-dropdown env-menu">
            <button class="vs-menu-btn" title="Add environment nodes">Environment</button>
            <div class="vs-menu-dropdown-content">
                <div
                    class="vs-menu-item env-node draggable"
                    draggable="true"
                    data-node-type="temperature"
                >
                    Temperature
                </div>
                <div
                    class="vs-menu-item env-node draggable"
                    draggable="true"
                    data-node-type="precipitation"
                >
                    Precipitation
                </div>
                <div
                    class="vs-menu-item env-node draggable"
                    draggable="true"
                    data-node-type="resource"
                >
                    Resource
                </div>
                <div
                    class="vs-menu-item env-node draggable"
                    draggable="true"
                    data-node-type="custom_env"
                >
                    Custom 
                </div>
            </div>
        </div>
        <div class="vs-menu-dropdown trait-menu">
            <button class="vs-menu-btn" title="Add trait nodes">Traits</button>
            <div class="vs-menu-dropdown-content">
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="abundance"
                >
                    Abundance
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="reproduction_rate"
                >
                    Reproduction Rate
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="survival_rate"
                >
                    Survival Rate
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="carrying_capacity"
                >
                    Carrying Capacity
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="dispersal_distance"
                >
                    Dispersal Distance
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="environmental_preferences_temperature"
                >
                    Env. Preferences Temperature
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="environmental_preferences_precipitation"
                >
                    Env. Preferences Precipitation
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="environmental_preferences_resource"
                >
                    Env. Preferences Rescource
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="environmental_preferences_custom"
                >
                    Env. Preferences Custom
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="mass"
                >
                    Mass
                </div>
                <div
                    class="vs-menu-item trait-node draggable"
                    draggable="true"
                    data-node-type="suitability"
                >
                    Suitability (0-1)
                </div>
            </div>
        </div>
        <div class="vs-menu-dropdown proc-menu">
            <button class="vs-menu-btn" title="Add Process nodes">Processes</button>
            <div class="vs-menu-dropdown-content">
                <div
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="reproduction"
                >
                    Reproduction Ricker
                </div>
                <div
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="reproductionBV"
                >
                    Reproduction Beverton-Holt
                </div>
                <div
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="mortality"
                >
                    Mortality
                </div>

                <div
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="dispersal"
                >
                    Dispersal
                </div>
                <div
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="calculate_suitability"
                >
                    Calculate Suitability
                </div>
                <div
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="metabolic_scaling"
                >
                    Metabolic Scaling
                </div>

                <div
                    class="vs-menu-item proc-node save draggable"
                    draggable="true"
                    data-node-type="save"
                >
                    Save
                </div>
                <div
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="plot"
                >
                    Plot
                </div>
                <div 
                    class="vs-menu-item proc-node draggable"
                    draggable="true"
                    data-node-type="mult"
                >
                    Multiply With
                </div>
            </div>
        </div>
        <div class="placeholder"></div>
        <div class="vs-menu">
            <button id="vs-help" class="vs-menu-btn vs-help" title="Open help">Help</button>
            <div class="vs-menu-dropdown">    
                <button class="vs-menu-btn" title="Save current node configuration">Save</button>
                <div class="vs-menu-dropdown-content">
                    <div id="vs-quicksave" class="vs-menu-item clickable quicksave">Quicksave</div>
                    <div id="vs-export" class="vs-menu-item clickable json-export" data-status="" title="Copy node configuration as JSON to clipboard">Copy JSON to clipboard</div>
                </div>
            </div>
            <div class="vs-menu-dropdown">    
                <button class="vs-menu-btn" title="Load a saved node configuration">Load</button>
                <div class="vs-menu-dropdown-content vs-load-menu">
                    <div class="vs-menu-item clickable vs-example1">Simple Example</div>
                    <div class="vs-menu-item clickable vs-example2">Complex Example</div>
                    <div id="load-json" class="vs-menu-item clickable">From JSON</div>
                </div>
            </div>
            <button class="vs-menu-btn vs-clear" title="Clear editor">Clear</button>
        </div>
    </div>
    <div id="drawflow-area" class="drawflow-area">
        <div class="drawflow-time-bg"></div>
        <div class="drawflow-time-bg"></div>
        <div class="drawflow-time-bg"></div>
        <div class="vs-toggles">
            <button id="vs-code-highlight" class="vs-toggle vs-input-toggle enabled" title="Highlight code of selected node"><Icon name="forward-slash"/></button>
            <button id="vs-code-toggle" class="vs-toggle vs-input-toggle" title="Minmimize / maximize code panel"><Icon name="down-caret"/></button>
            <!-- <button id="vs-input-toggle" class="vs-toggle vs-input-toggle" title="Show / hide inputs"><Icon name="pencil"/></button> -->
            <button id="vs-zoom-in" class="vs-toggle vs-zoom-in" title="Zoom in">+</button>
            <button id="vs-zoom-out" class="vs-toggle vs-zoom-out" title="Zoom out">-</button>
        </div>
        <div class="timestep timestep-start">time step start</div>
        <div class="timestep timestep-end">time step end</div>
    </div>
    <div class="vs-divider" id="vs-divider"></div>
    <div class="code-area" id="code-area">
        <Tabs>
            <TabItem label="Generated Code">
                <Code code={"# Generated Code"} lang="txt" title="simulation.R" />
            </TabItem>
            <TabItem label="Instructions">
                <div class="instructions">
                <code>Left Click + Drag</code> | Move
                <br>
                <code>Right Click</code> | Delete Option
                <br>
                <code>Ctrl + Wheel</code> | Zoom 
                <br>
                <br>
                <Card title="Editor">The node editor represent one time step of the simulation.
                Below the node editor, you can see and copy the code that is generated based on the node configuration.
                </Card>
                <br>
                <Card title="Nodes">Drag menu items to the canvas to add nodes.
                Drag node output to another node input to connect them (works only if they have if they have the same type).
                Species nodes can be connected to traits and trait nodes to processes nodes.
                Each trait node has an option to set its initial value (i.e. at the start of the simulation).
                The trait values are propagated to the connected process nodes and transformed by them.
                At the end of the time step (when a trait is not connected to any more process nodes), its values are propagated to the species node for the next time step.
                </Card>
                <br>
                <Aside type="note">This editor is only meant to give you an idea of how a simulation can be set up.
                The package has many options that are not available in the editor, so feel free to browse the documentation (or the published papers) to see what is possible.
                </Aside>
                </div>
            </TabItem>
            <TabItem label="Node Info">
                <div id="node-info-panel">
                    <Card title="Information">Click on any node to see more information.
                    </Card>
                    <br/>
                    <LinkCard
                        title="See also"
                        href="/glossary"
                        description="See glossary for more information on terms used in the node descriptions."
                        target="_blank"
                        rel="noopener noreferrer"
                    />
            </TabItem>
        </Tabs>

    </div>
</div>

<style is:global>
    code span {
        transition: all 0.5s;
    }
    .highlight {
        background-color: var(--sl-color-accent-high);
        text-shadow: var(--sl-color-accent-low) 1px 1px 2px;
    }
    :root {
        --vs-env-bg: #5b172d;
        --vs-env-bg-hover: #772d44;
        --vs-text-color: #eeeeee;
        --vs-text-color-hover: #ffffff;
        --vs-species-bg: #004f68;
        --vs-species-bg-hover: #386b88;
        --vs-proc-bg: #62848e;
        --vs-proc-bg-hover: #859ba1;
        --vs-trait-bg: #9f8664;
        --vs-trait-bg-hover: #a29079;
        --vs-proc-title-bg-hover: #445c63;
        --vs-node-title-bg-hover: #716451;
        --vs-menu-border: black;
        --vs-transition-time: 0.1s;
        --menu-gap-width: 0.2rem;
    }
    :root[data-theme='light'] {
        --vs-env-bg: #741433;
        --vs-env-bg-hover: #933d4d;
        --vs-species-bg: #0a6582;
        --vs-species-bg-hover: #257894;
        --vs-proc-bg: #6ea3b3;
        --vs-proc-bg-hover: #83a6b0;
        --vs-trait-bg: #a6865b;
        --vs-trait-bg-hover: #a29079;
        --vs-proc-title-bg-hover: #445c63;
        --vs-node-title-bg-hover: #716451;
    }
    .timestep {
        position: absolute;
        top: 0;
        width: 2rem;
        height: 100%;

        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: bold;
        z-index: 10;
        writing-mode: sideways-lr;
        pointer-events: none;
    }
    .timestep.timestep-start {
        left: 0;
    }
    .timestep.timestep-end {
        right: 0;
    }


    .visual-scripting-container,
    .visual-scripting-container * {
        margin-top: 0;
    }
    .vs-menu-bar {
        display: flex;
        width: 100%;
        align-items: stretch;
        flex-direction: column;
        gap: 0;
        padding: 0;
        background: none;
        z-index: 20;
        box-shadow: 0 2px 8px 0 rgba(70, 130, 180, 0.04);
        margin-top: 0;
    }
    .vs-menu-dropdown,
    .vs-menu-item.species-node {
        display: flex;
        align-items: stretch;
        position: relative;
        min-width: 0;
    }
    .placeholder {
        flex: 1 1 auto;
    }
    .vs-menu-btn {
        width: 100%;
        border: none;
        cursor: pointer;
        transition:
            background var(--vs-transition-time),
            color var(--vs-transition-time);
        display: flex;
        align-items: center;
        padding: 0.5rem;
        text-shadow: var(--sl-shadow-sm);
        border: var(--menu-gap-width) solid var(--sl-color-bg);
        border-top-width: 0;
    }
    .vs-menu-dropdown.env-menu .vs-menu-btn {
        background: var(--vs-env-bg);
        color: var(--vs-text-color);
    }
    .vs-menu-dropdown.env-menu .vs-menu-btn:hover,
    .vs-menu-dropdown.env-menu .vs-menu-btn:focus {
        background: var(--vs-env-bg-hover);
        color: var(--vs-text-color-hover);
    }
    .vs-menu-item.species-node {
        background: var(--vs-species-bg);
        color: var(--vs-text-color);
        border-top-width: var(--menu-gap-width);
        padding-left: 0.5rem;
        margin: 0;
        cursor: grab;
        transition:
            background var(--vs-transition-time),
            color var(--vs-transition-time);
        user-select: none;
    }
    .vs-menu-item.species-node:active {
        cursor: grabbing;
    }
    .vs-menu-item.species-node:hover,
    .vs-menu-item.species-node:focus {
        background: var(--vs-species-bg-hover);
        color: var(--vs-text-color-hover);
    }
    .vs-menu-dropdown.proc-menu .vs-menu-btn {
        background: var(--vs-proc-bg);
        color: var(--vs-text-color);
    }
    .vs-menu-dropdown.proc-menu .vs-menu-btn:hover,
    .vs-menu-dropdown.proc-menu .vs-menu-btn:focus {
        background: var(--vs-proc-bg-hover);
        color: var(--vs-text-color-hover);
    }
    .vs-menu-dropdown.trait-menu .vs-menu-btn {
        background: var(--vs-trait-bg);
        color: var(--vs-text-color);
    }
    .vs-menu-dropdown.trait-menu .vs-menu-btn:hover,
    .vs-menu-dropdown.trait-menu .vs-menu-btn:focus {
        background: var(--vs-trait-bg-hover);
        color: var(--vs-text-color-hover);
    }
    .vs-menu-dropdown-content {
        display: none;
        position: absolute;
        left: 100%;
        top: calc(-1 * var(--menu-gap-width));
        background: var(--sl-color-gray-5);
        padding: 0.5rem;
        min-width: max-content;
        box-shadow: 0 2px 12px rgb(10, 10, 10);
        z-index: -1;
        overflow: hidden;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        border: var(--menu-gap-width) solid var(--sl-color-bg);
        border-left-width: 0;
    }
    .vs-menu-dropdown:hover .vs-menu-dropdown-content,
    .vs-menu-dropdown:focus-within .vs-menu-dropdown-content {
        display: block;
    }
    .vs-menu-dropdown-content hr {
        margin: 0;
        border: none;
        background: var(--sl-color-gray-5);
        height: var(--menu-gap-width);
    }
    .clickable {
        cursor: pointer;
    }
    .vs-menu-item {
        padding: 0.5rem 1rem;

        user-select: none;
        border-radius: 1rem;

        min-height: 2rem;
        display: flex;
        align-items: center;
        transition:
            background var(--vs-transition-time),
            color var(--vs-transition-time);
    }
    .drawflow {
        cursor: grab;
    }
    .draggable {
        cursor: grab;
    }
    .draggable::after {
        content: "🠞";
        position: relative;
        left: 0;
        font-weight: bold;
        margin-left: auto;
        visibility: hidden;
        transition: left 1s;
    }
    .draggable:hover::after {
        visibility: visible;
        left: 0.5rem;
    }
    .vs-menu-item:hover {
        background: var(--sl-color-gray-6);
        color: var(--sl-color-white);
    }
    .drawflow-node {
        transition:
            background var(--vs-transition-time) ease-in-out,
            box-shadow var(--vs-transition-time) ease-in-out;
        font-size: var(--sl-text-code);
    }
    .drawflow-node::before {
        position: absolute;
        content: '';
    }
    .drawflow-node:hover::before {
        position: absolute;
        content: attr(data-vs-species-name, '');
        border-radius: 0.4rem 0.4rem 0 0;
        width: 100%;
        padding-left: 0.5rem;
        background: var(--vs-node-title-bg-hover);
        color: #fff;
        text-shadow: black 1px 1px 2px;
    }
    .drawflow-node.species-node:hover::before {
        content: '';
    }
    .drawflow-node.proc-node:hover::before {
        background: var(--vs-proc-title-bg-hover);
    }

    .drawflow_content_node .title {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: 1px solid var(--dfBorderColor);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0.4rem 0.4rem 0 0;

        text-shadow: black 1px 1px 2px;
        color: #ececec;
    }

     .drawflow-node[data-vs-species-name] .input:not([data-upstream-connected="true"],[data-vs-optional="true"],[env_type]) {
        background: #aa7a57 !important;
    }
    .drawflow-node .input[data-vs-optional="true"] {
        background: grey;
    }

    .drawflow-node.trait-node:not([data-upstream-connected="true"]),
    .drawflow-node.proc-node:not([data-upstream-connected="true"]) {
        background: grey !important;

    }
    #drawflow .drawflow-node.env-node {
        background: var(--vs-env-bg);
    }
    #drawflow .drawflow-node.env-node:hover {
        background: var(--vs-env-bg-hover);
    }

    #drawflow .drawflow-node.species-node {
        background: var(--vs-species-bg);
    }
    #drawflow .drawflow-node.species-node:hover {
        background: var(--vs-species-bg-hover);
    }
    #drawflow .drawflow-node.proc-node {
        background: var(--vs-proc-bg);
    }
    #drawflow .drawflow-node.proc-node:hover {
        background: var(--vs-proc-bg-hover);
    }

    .drawflow-node .input::after,
    .drawflow-node .output::after {
        content: '';
        position: relative;
        pointer-events: none;
    }
    #drawflow .drawflow-node.proc-node:not(.save) .input::after {
        display: block;
        content: attr(data-vs-input-classes, '');

        top: -2px;
        left: 25px;
        height: 16px;
        line-height: 16px;
        font-size: 0.8rem;
        width: 150px;
    }
    #drawflow .drawflow-node .output:hover::after {
        display: block;
        content: attr(data-vs-output-classes, '');

        top: -2px;
        left: 25px;
        height: 16px;
        line-height: 16px;
        font-size: 0.8rem;
    }

     .drawflow .drawflow-node .inputs, .drawflow .drawflow-node .outputs {
        padding-top: calc(var(--sl-line-height) * var(--sl-text-body) + 0.5rem);
     }

     .drawflow .input-container {
        padding: 0.5rem 1rem;
                width: 100%;
     }

    .drawflow .drawflow-node .input.species-traits,
    .drawflow .drawflow-node .input.species-traits:hover,
    .drawflow .drawflow-node .input.species-traits.selected,
    .drawflow .drawflow-node .output.species-traits,
    .drawflow .drawflow-node .output.species-traits:hover,
    .drawflow .drawflow-node .output.species-traits.selected {
            border-radius: 4px;
    }


    .drawflow .input-container input,
    .drawflow .input-container select {

        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1px 2px;
        /* color: #ddd; */
    }

    .drawflow .input-container > :last-child,
    .drawflow .input-container > p:last-child input,
    .drawflow .input-container > p:last-child select {
        margin-bottom: 0;
    }


    @media (max-width: 600px) {
        .vs-menu-bar {
            flex-direction: column;
        }
        .vs-menu-dropdown,
        .vs-menu-item.species-node {
            min-width: 0;
        }
    }
    .vs-mobile-overlay {
        display: none;
    }
    @media (max-width: 600px) {
        .visual-scripting-container > *:not(.vs-mobile-overlay) {
            pointer-events: none !important;
            user-select: none !important;
            opacity: 0.2;
            filter: blur(2px);
        }
        .vs-mobile-overlay {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(30, 30, 30, 0.98);
            color: #fff;
            z-index: 10000;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            font-weight: 600;
            text-align: center;
            border-radius: 12px;
        }
    }
    input, select {
        border-radius: 3px;
        border: none;
        min-height: 1.6rem;
    }
    input:invalid {
        background-color: rgb(70, 59, 59);
    }

    input + span {
        padding-right: 30px;
    }

    input:invalid + span::after {
        position: absolute;
        content: "✖";
        padding-left: 5px;
    }

    input:valid + span::after {
        position: absolute;
        content: "✓";
        padding-left: 5px;
    }

    .hidden {
        display: none !important;
    }
</style>
<style>
    .visual-scripting-container {
        transition: all 0.5s;
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr 7px 1fr;
        grid-template-areas:
            "a b"
            "c c"
            "d d";
        overflow: hidden;
        background: var(--sl-color-bg);
        position: relative;
        max-height: calc(100vh - var(--sl-nav-height) - var(--sl-line-height-headings) * 1rem - var(--sl-line-height) * 1rem - 0.1rem);
    }
    .vs-menu-label {
        font-weight: bold;
        color: var(--vs-menu-border);
        font-size: 1rem;
        padding: 0 0.5rem;
    }
    .vs-menu-dropdown {
        position: relative;
        display: inline-block;
    }
    .vs-menu-dropdown:hover .vs-menu-dropdown-content,
    .vs-menu-dropdown:focus-within .vs-menu-dropdown-content {
        display: block;
    }
    .vs-menu-item:active {
        cursor: grabbing;
    }

    .drawflow-area {
        flex: none;
        border-bottom: none;
        position: relative;
        overflow: hidden;
    }
    .vs-divider {
        height: 7px;
        background: var(--sl-color-gray-5);
        width: 100%;
        position: relative;
        grid-area: c;
        border-top: 1.5px solid var(--vs-menu-border);
        border-bottom: 1.5px solid var(--vs-menu-border);
        transition: background 0.15s;
        flex: 0 0 auto;
    }
    .code-area {
        grid-area: d;
        background: var(--sl-color-bg);
        padding: 1.5rem;
        overflow: auto;
        display: flex;
        flex-direction: column;
        border-top: none;
        transition: height 0.1s;
        box-sizing: border-box;
        max-height: 40vh;
    }
    .code-area code {
        font-family: monospace;
    }
    .code-area pre {
        height: 100%;
        width: 100%;
        min-height: 0;
        overflow: auto;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
     .vs-menu {
        display: flex;
        flex-direction: column;
     }
    .vs-toggles {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 19;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: 0 0.5rem 0.5rem 0.5rem;
        pointer-events: none;
    }
    .vs-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        z-index: 20;
        background: rgba(0, 0, 0, 0.2);
        color: var(--sl-color-text);
        border: 2px solid var(--sl-color-gray-3);
        border-radius: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition:
            background 0.15s,
            color 0.15s;
        backdrop-filter: blur(2px);
    }
    .vs-toggle:hover {
        background: var(--sl-color-gray-4);

    }
    #vs-code-toggle {
        transition: all 0.5s;
    }
    #vs-code-toggle.small {
        rotate: 180deg;
    }
    #vs-code-highlight::after {
        content: attr(data-hint);
        width: max-content;
        font-size: 0.7rem;
        color: var(--sl-color-gray-3);
        position: absolute;
        top: -2rem;
    }
    #vs-code-highlight.enabled {
        background: var(--sl-color-accent-high);
        border-color: var(--sl-color-accent);
    }
    #vs-code-highlight.enabled:hover {
        background: var(--sl-color-gray-4);
        border-color: var(--sl-color-accent);
    }
</style>
<script src="/scripts/modules/drawflow.min.js" is:inline></script>
<script src="../scripts/visualEditor.js"></script>
